{% extends "myapp/base.html" %}
{% load static %}

{% block style_ragister_login %}
    <link rel="stylesheet" href="{% static "css/ragister_login_style.css" %}"/>
{% endblock style_ragister_login %}

{% block start %}
<div class="ragister-login-container">
    <h2>Change Password</h2>
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password *</label>
            <input type="password" id="password" name="password"  required>
            <img class="eye" id="eye" src="{% static "image/hide.png" %}" alt="{% static "image/hide.png" %}" data-show-src="{% static "image/view.png" %}"  data-hide-src="{% static 'image/hide.png' %}" onmouseover="show(this,'password')" onmouseout="hide(this,'password')" />
        </div>
        <div class="form-group">
            <label for="confirmpassword">Confirm Password *</label>
            <input type="password" id="confirmpassword" name="confirmpassword" required>
            <img class="eye" src="{% static "image/hide.png" %}" alt="{% static "image/show.png" %}" data-show-src="{% static "image/view.png" %}"  data-hide-src="{% static 'image/hide.png' %}" onmouseover="show(this,'confirmpassword')" onmouseout="hide(this,'confirmpassword')"/>
        </div>
        
        <button type="submit" class="btn-submit">Change Password</button>
    </form>
    
</div>
{% endblock start %}