{% extends "myapp/base.html" %}
{% load static %}

{% block style_ragister_login %}
    <link rel="stylesheet" href="{% static "css/ragister_login_style.css" %}"/>
{% endblock style_ragister_login %}

{% block start %}
    <div class="ragister-login-container">
        <h2>Ragistration</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username *</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password *</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="first-name">First Name</label>
                <input type="text" id="first-name" name="first_name">
            </div>
            <div class="form-group">
                <label for="last-name">Last Name</label>
                <input type="text" id="last-name" name="last_name">
            </div>
            <div class="form-group">
                <label for="email">Email ID</label>
                <input type="email" id="email" name="email">
            </div>
            <button type="submit" class="btn-submit">Submit</button>
        </form>
        <p>Already Account <a href="{% url "login" %}">Click Here</a></p>
        
    </div>
{% endblock start %}